body
{
	padding-top:70px;
}
h1,h2,h3,h4,h5,.lead
{
	font-family:'Droid Sans',sans-serif;
}
  /* START navbar */		
.navbar {min-height:70px;background:#337ab7;font-weight:bold;}
	/* normal link*/	
.navbar-inverse .navbar-nav > li > a 
{
	color:white;padding-top:25px;
	padding-bottom:25px;transition:all 0.7s ease-in;
}
.navbar-inverse .navbar-nav li #lastchild{margin-right:60px;}
.navbar-inverse .nav > li > a:hover{color:#2c3e50;background-color:white;}
	
.navbar-brand {color:#BBB;margin-top:10px;}
.navbar-brand:hover{transition:all 1.5s ease-in-out;}
	/* dropdown-menu */
.dropdown .dropdown-toggle{margin-right:71px;}
.dropdown-menu 
{
	background-color:black;
	min-width:200px;left:0px;right:auto;
}	
.dropdown-menu > li > a 
{
	color:#FFF;padding:6px 20px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus 
{
  color: #FFF;font-size:15px;font-style:italic;
  padding-left:25px;
}
.dropdown-menu .divider {background-color:#871818;}
.navbar-toggle {margin-top:18px;}
.navbar .collapse .navbar-form{margin-top:16px;}

 /*Start Section ultimate*/
.footer
{
	background:#111;color:#AAA;
	padding-top:10px;
}
.footer a {color:#AAA;}
.footer a:hover {color:#AAA;}
.footer h3
{
	letter-spacing:2px;color:#337ab7;
	margin:30px 0 20px;font-size:25px;
}
.footer .three-columns {overflow:hidden;}
.footer .three-columns li {width:33.3333%;float:left;padding:5px 0}
.footer #fot
{
	width:45px;height:75px;border-radius:50%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
}
.footer .social {overflow:hidden;margin:20px 0 10px;} 
.footer .social li {float:left;margin-left:3px;opacity:0.5;filter:alpha(opacity=70)}
.footer .social li:hover{opacity:1}
.footer  .media #sc1 {width:64px;height:64px;} 
.footer #my59{width:170px;height:120px;cursor:pointer;}
.footer .img-thumbnail
{
	background:rgba(0,0,0,0.3);border:1px solid #444;
	margin-bottom:5px;
}
.footer .cen h3{text-align:center;}
.footer .copyright
{
	background:#333;color:#337ab7;
	padding:15px 0;font-size:20px;margin-top:15px;
}
.footer .copyright span{font-weight:bolder;}
/* .footer span{color:#E41B17;} */