 /* START navbar */
.navbar {min-height:70px;background-color:#337ab7;}
	/* normal link*/		
.navbar-inverse .navbar-nav > li > a 
{
	color:#BBB;padding-top:25px;font-size:15px;
	padding-bottom:25px;transition:all 0.7s ease-in;
}
.navbar-inverse .navbar-nav li #lastchild{margin-right:60px;}
.navbar-inverse .nav > li > a:hover{color:#2c3e50;background-color:white;}
	
.navbar-brand {color:#BBB;margin-top:10px;}
.navbar-brand:hover{transition:all 1.5s ease-in-out;}
	/* dropdown-menu */
.dropdown .dropdown-toggle{margin-right:71px;}
.dropdown-menu 
{
	background-color:black;
	min-width:200px;left:0px;right:auto;
}	
.dropdown-menu > li > a 
{
	color:#FFF;padding:6px 20px;
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	transition:all 1s ease;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus 
{
  color: #FFF;font-size:15px;font-style:italic;
  padding-left:25px;
}
.dropdown-menu .divider {background-color:#871818;}
.navbar-toggle {margin-top:18px;}
.navbar .collapse .navbar-form{margin-top:16px;}

/*start with login*/
body{
	background-image:url(../images/1_h.JPG);
	background-repeat:no-repeat;
	background-attachment:fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	width:100%;height:100%;
}
.Login h1{
	font-family:'Droid Sans',sans-serif;font-style:oblique;margin:130px 0px 30px 150px;
	color:navy;font-weight:bolder;font-variant:small-caps;
}
.Login table{margin:auto;}
.Login table tr td{padding:20px;}
.Login table tr td label{font-size:17px;color:#EEE;}
.Login table tr td input[type="text"],[type="password"]{
	border:2px solid #f5f5f5;border-radius:15px;padding:10px;
	width:300px;color:navy;font-size:18px;
}
.Login table tr td input::placeholder{font-size:18px;color:#BBB;}
.Login table tr td input[type="button"]{
	font-size:20px;padding:7px;width:100px
}
